/* ==== GENERAL ==== */

p, li, a, span {
    font-size: 17px;
}

h1, h2 {
    color: #FFCE1A;
}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
    border-bottom: rgb(222, 226, 230) solid 1px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
}

body {
    background-color: #0e0e0e;
    color: white;
}

section>.container-fluid {
    padding-left: 4em;
    padding-right: 4em;
}

.btn.btn-accent-custom {
    color: #FFCE1A;
    border-color: #FFCE1A;
    transition: 0.3s
}

.btn.btn-accent-custom:hover {
    background-color: #FFCE1A;
    color: black;
}

/* ==== SECTIONS ==== */

section#splash {
    background: linear-gradient(135deg, #000, #070707, #0e0e0e);
}

#splash .container-fluid h1 {
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
    font-size: 8em;
    border-bottom: none;
    margin-bottom: 0.25em;
}

#splash .container-fluid {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #0e0e0e);
}

section#about {
    padding-top: 5em;
    padding-bottom: 8em;
}

section#team {
    background: linear-gradient(-45deg, #000, #070707, #0e0e0e);
}

#team>.container-fluid {
    padding-top: 1em;
    padding-bottom: 5em;
    background: linear-gradient(0deg, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #0e0e0e);
}

/* ==== NAVBAR ==== */

nav.nav-scroll-bg {
    background-color: black;
}

nav.navbar .navbar-collapse ul.navbar-nav li.nav-item a {
    color: white;
}

a.navbar-brand.custom-brand {
    color: #FFCE1A;
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
    margin-left: 1em;
}

/* ==== PERSON GALLERY ==== */ 
div#person-grid {
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.person-item {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    max-width: 275px;
}
.person-item img {
    margin-bottom: 12px;
    max-width: 200px;
    border-radius: 100px;
}

/* ==== WORK ==== */ 
.card.card-cover h3 {
    z-index: 10;
}

.card.card-cover>img {
    position: absolute;
    width: 100%;
}

.card.card-cover {
    transition: 0.3s;
}

.card.card-cover:hover {
    cursor: pointer;
    filter: brightness(0.7);
}