/* ==== GENERAL ==== */

p, li, a, span {
    font-size: 17px;
}

p {
    text-align: center;
}

h1, h2, h3, a, accent {
    color: #FFCE1A;
}

h1 {
    font-size: 3em;
    padding-bottom: 0.5em;
    margin-bottom: 1.1em;
    border-bottom: rgb(222, 226, 230) solid 1px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
    text-align: center;
}

body {
    background-color: #0e0e0e;
    color: white;
}

section>.container-fluid {
    padding-left: 4em;
    padding-right: 4em;
}

.btn.btn-accent-custom {
    background-color: #FFCE1A;
    color: black;
    border-color: #FFCE1A;
    transition: 0.3s
}

.btn.btn-accent-custom:hover, .btn.btn-accent-custom:focus {
    color: #FFCE1A;
    background-color: rgba(0,0,0,0);
}

/* ==== SECTIONS ==== */

section#splash {
    background: linear-gradient(135deg, #000, #070707, #0e0e0e);
}

#splash .container-fluid h1 {
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
    font-size: 8em;
    border-bottom: none;
    margin-bottom: 0.25em;
}

#splash .container-fluid {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #0e0e0e);
}

section#about {
    padding-top: 5em;
    padding-bottom: 8em;
}

section#contributors {
    background: linear-gradient(-45deg, #000, #070707, #0e0e0e);
}

#contributors>.container-fluid {
    padding-top: 3em;
    padding-bottom: 7em;
    background: linear-gradient(0deg, #0e0e0e, transparent, transparent, transparent, transparent, transparent, transparent, #0e0e0e);
}

section#work>.container-fluid {
    padding-top: 4em;
    padding-bottom: 4em;
    background: linear-gradient(0deg, #0e0e0e, transparent, transparent, transparent, transparent, transparent, transparent);
}

section#contact {
    background: linear-gradient(-45deg, #000, #070707, #0e0e0e);
}

section#contact>.container-fluid {
    padding-top: 4em;
    padding-bottom: 4em;
    background: linear-gradient(0deg, #0e0e0e, transparent, transparent, transparent, transparent, transparent, transparent, #0e0e0e);
}

/* ==== NAVBAR ==== */

nav.nav-scroll-bg {
    background-color: black;
}

nav.navbar .navbar-collapse ul.navbar-nav li.nav-item a {
    color: white;
}

a.navbar-brand.custom-brand {
    color: #FFCE1A;
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
    margin-left: 1em;
    align-self: center;
}

nav a.navbar-brand.custom-brand.nav-img {
    margin-right: 1em;
    margin-left: 0.5em;
}

nav a.navbar-brand.custom-brand.nav-img img {
    width: 22px;
    margin-top: -3px;
}

nav.navbar div.container-fluid div.cta-button  {
    margin-left: 1em;    
}


/* ==== PERSON GALLERY ==== */ 
div#person-grid {
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.person-item {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    width: 275px;
}

.person-item img {
    margin-bottom: 12px;
    max-width: 200px;
    border-radius: 100px;
}

/* ==== WORK ==== */ 
.card.card-cover h3 {
    font-weight: bold;
    color: white;
    font-size: 2.5em;
}

.card.card-cover>img {
    width: 100%;
}

.card.card-cover {
    transition: 0.3s;
    overflow: hidden;
    border-radius: 20px;
    border: none;
}

.card.card-cover .subtitle {
    position: absolute;
    bottom: 12px;
    text-align: center;
    width: 100%;
}

.card.card-cover:hover {
    cursor: pointer;
    filter: brightness(0.7);
}

/* ===== CONTACT ===== */

div.contact-form input:not([type="submit"]), div.contact-form textarea {
    background-color: #111;
    color: white;
    border: none;
    border-bottom: solid #FFCE1A;
    margin: 12px 0px;
    text-align: center;
    padding: 9px;
}

div.contact-form input::placeholder, div.contact-form textarea::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}
  
div.contact-form input::-ms-input-placeholder, 
div.contact-form textarea::-ms-input-placeholder { /* Edge 12 -18 */
    color: white;
}

div.contact-form input[type="submit"] {
    width: 100%;
}

div.contact-form textarea:focus, div.contact-form input:not([type="submit"]):focus {
    background-color: #111;
    color: white;
    border: solid #FFCE1A;
    outline-width: 0px;
}

/* ====== MOBILE ======= */ 
@media only screen and (max-width: 767px) {
    #splash>.container-fluid>h1 {
        font-size: 5.5em;
    }

    ul.navbar-nav {
        margin-left: 1.1em;
    }

    nav.navbar div.container-fluid div.cta-button {
        margin-left: 1.1em;
    }

    section#about div.row>div {
        margin-bottom: 4em;
    }

    section p, section h1, section h2, section h3, section h4, section h5, section h6 {
        text-align: center;
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        justify-content: center;
    }

    a.nav-link {
        text-align: center;
    }
}

/* ======== About ======== */ 
#about .descriptions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5em;
}

#about .descriptions>.description-item {
    text-align: center;
    max-width: 386px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

#about img.description-icon {
    max-width: 100px;
    margin-bottom: 15px;
}